:root {
	--color-black: #444444;
	--color-white: #ffffff;
	--color-blue: #9AB3D5;
	--color-blue-light: #D6E5F4;
	--color-orange: #EF743E;
	--color-yellow: #FDD949;

	--color-text-primary: var(--color-black);
	--color-text-secondary: var(--color-white);
	--color-text-third: var(--color-blue);

	--color-border-primary: #000000;
	--color-border-secondary: #ffd883;
	--color-invalid: red;

	--color-bg-primary: var(--color-blue);
	--color-bg-secondary: var(--color-white);
	--color-bg-third: var(--color-yellow);
	--color-bg-fourth: var(--color-blue-light);
	--color-bg-fifth: var(--color-orange);
	--color-bg-button: #2f487e;

	--color-btn-primary: var(--color-orange);
	--color-btn-secondary: var(--color-white);
	--color-btn-third: var(--color-blue);

	--color-hover-primary: var(--color-blue-light);

	--color-input-border: var(--color-blue);
	--input-bg: var(--color-bg-secondary);

	--border-primary: 1px solid var(--color-border-secondary);
}

.section-name {
	font-weight: 500;
	font-size: 20px;
	/* color: green !important; */
}

.form__text {
	/* font-size: 18px; */
	/* color: orange !important; */
}

.custom-checkbox {
	min-width: 20px;
	min-height: 20px;
	margin: 0;
	cursor: pointer;
}

.custom-radio {
	min-width: 20px;
	min-height: 20px;
	margin: 0;
}
.invalid-input {
	border: 1px solid var(--color-invalid);
}
.invalid-checkbox {
	outline: 1px solid var(--color-invalid);
}
